@media (max-width: 1620px) {


    .service {
        font-size: 3.5rem;
    }
#contact {

    flex-direction: column-reverse;
}
.column-container {

}
    
}

@media (max-width: 1100px) {

    .project {
        height: 33rem;
    }
        .service {
            font-size: 2.5rem;
        }
        .question-text {
            font-size: 2rem;
            padding-left: 0;
        }

        .me-container {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin: 3rem;
        }

        .portrait {
            width: 35%;
        }

        .image-container::after {
           width: 35%;
                
        }
        .image-container {
            justify-content: flex-end;
        }

}


@media (max-width: 1000px) {
        .image-container {
                justify-content: center;
            }

        
        .projects-container {
            display: flex;
            flex-direction: column;
            padding: 0;
        }

}



@media (max-width: 800px) {


.portrait {
        border-radius: 3rem;
    }

    .image-container::after {
        border-radius: 3rem;

    }



        .service {
                font-size: 2rem;
                font-weight: 400;
            }
.btn-text {
    font-size: 0.8rem;
}


.question-text {
    font-size: 1.3rem;
    padding: 2rem;
}

.big-btn {

    flex-direction: row;
    align-items: center;
   height: 1.6rem;
   border-radius: 80px;
}

.big-btn .icon svg {

    transform: scale(0.5);
}

.grid-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}


.arrow {
    display: none;
}

.social-header {
    margin: 0;
}

.description {
    font-size: 1.1rem;
}

 #contact .column-container {
    width: 100%;
    height: 50%;
 }

}


@media (max-width: 600px) {

    .portrait {
        border-radius: 2rem;
          }
            
                .image-container::after {
                transform: translateY(2rem) translateZ(-7rem) translateX(-4rem);
                border-radius: 2rem;

                }

    h1 {
        font-size: 3rem;
        margin-top:0;
    }

    .top-buttons-container {
        margin: 0.5rem;
        margin-top: 2rem;


    }
    .me-container {
        margin: 1rem;
    }
        #header nav a {
            margin: 1.2rem;
        }

    .service {
        font-size: 1.5rem;
    }

    .services-container {
        margin: 0;
    }

    .description {
        font-size: 1rem;
    }

    :root {
        --default-margin: 0 5%;
    }


}



@media (max-width: 450px) {

            #header nav a {
                    margin: 1rem;
                }

    .portrait {
        border-radius: 1.5rem;
          }
            
                .image-container::after {
                transform: translateY(2rem) translateZ(-7rem) translateX(-4rem);
                border-radius: 1.5rem;

                }

    h1 {
        font-size: 2.5rem;
        margin-top:0;
    }

    .top-buttons-container {
        margin: 0.5rem;
        margin-top: 2rem;
    }

    .big-btn {
        padding: 0.5rem;
    }

        .big-btn .icon svg {
    
            transform: scale(0.3);
        }

        .big-btn span {
            font-size: 0.8rem;
        }

        #footer {
            font-size: 0.8rem;
        }
        .me-container {
            margin: 0;
        }
        h1, .profession-name {
            margin-left: 1.5rem;
        }

        .fade-right {
            text-align: right;
        }
        .service svg {
            display: none;
        }
        .service {
            margin: 0 0.5rem;
        }
        .blurred-ellipse {

            display: none;
        }
        .project {
            height: 34rem;
        }
}

@media (max-width: 380px) {

    .description {
        font-size: 0.9rem;
    }

}